body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.text-mask1 {
  display: inline-block;
  overflow: hidden;
}

.text-inner1 {
  display: inline-block;
}

.word {
  display: inline-block;
  line-height: 1.2;
}

/* Section */
.benefits-section {
  /* padding: 80px 20px; */
  font-family: 'Poppins', sans-serif;
  padding-top: 6rem;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  max-width: 1400px;
  margin: auto;
}

@media (min-width: 300px) {
  .benefits-section {
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

@media (min-width: 550px) {
  .benefits-section {
    margin-top: 3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 780px) {
  .benefits-section {
    margin-top: 3rem;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
}

/* Badge */
.badge1 {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 6px 16px;
  background: #f5f7f9;
  color: #0f0f0f;
  font-size: 14px;
  border-radius: 20px;
  /* margin-bottom: 24px; */
}

/* Top row */
.top-row {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* margin-bottom: 1rem; */
}

@media (min-width: 768px) {
  .top-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

/* Title */
.title1 {
  font-size: 2.5rem;
  font-weight: 500;
  /* max-width: 47%; */
  line-height: 1.2;
  color: #0f172a;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

@media (min-width: 300px) {
  .title1 {
    font-size: 1.2rem;
    text-align: left;
    max-width: 90%;
  }
}

@media (min-width: 340px) {
  .title1 {
    font-size: 1.3rem;
    text-align: left;
    max-width: 90%;
  }
}

@media (min-width: 370px) {
  .title1 {
    font-size: 1.45rem;
    text-align: left;
    max-width: 90%;
  }
}

@media (min-width: 400px) {
  .title1 {
    font-size: 1.55rem;
    text-align: left;
    max-width: 87%;
  }
}

@media (min-width: 430px) {
  .title1 {
    font-size: 1.65rem;
    text-align: left;
    max-width: 85%;
  }
}

@media (min-width: 470px) {
  .title1 {
    font-size: 1.85rem;
    text-align: left;
    max-width: 87%;
  }
}

@media (min-width: 500px) {
  .title1 {
    font-size: 1.95rem;
    text-align: left;
    max-width: 85%;
  }
}

@media (min-width: 525px) {
  .title1 {
    font-size: 2rem;
    text-align: left;
    max-width: 85%;
  }
}

@media (min-width: 550px) {
  .title1 {
    font-size: 1.5rem;
    max-width: 65%;
    /* text-align: center; */
  }
}
@media (min-width: 613px) {
  .title1 {
    font-size: 1.8rem;
    max-width: 65%;
    /* text-align: center; */
  }
}

@media (min-width: 620px) {
  .title1 {
    font-size: 1.8rem;
    /* text-align: center; */
    max-width: 65%;
  }
}

@media (min-width: 650px) {
  .title1 {
    font-size: 1.8rem;
    max-width: 65%;
    /* text-align: center; */
  }
}

@media (min-width: 670px) {
  .title1 {
    font-size: 1.9rem;
    max-width: 65%;
    /* text-align: center; */
  }
}

@media (min-width: 700px) {
  .title1 {
    font-size: 2rem;
    max-width: 67%;
    /* text-align: center; */
  }
}

@media (min-width: 719px) {
  .title1 {
    font-size: 2.1rem;
    max-width: 64%;
    /* text-align: center; */
  }
}

@media (min-width: 834px) {
  .title1 {
    font-size: 2.3rem;
    max-width: 60%;
    /* text-align: center; */
  }
}

@media (min-width: 906px) {
  .title1 {
    font-size: 2.3rem;
    max-width: 57%;
    /* text-align: center; */
  }
}

@media (min-width: 950px) {
  .title1 {
    font-size: 2.3rem;
    max-width: 54%;
    /* text-align: center; */
  }
}

@media (min-width: 1000px) {
  .title1 {
    font-size: 2.3rem;
    max-width: 50%;
    /* text-align: center; */
  }
}

@media (min-width: 1075px) {
  .title1 {
    font-size: 2.3rem;
    max-width: 48%;
    /* text-align: center; */
  }
}

@media (min-width: 1100px) {
  .title1 {
    font-size: 2.8rem;
    max-width: 54%;
    /* text-align: center; */
  }
}

@media (min-width: 1200px) {
  .title1 {
    font-size: 2.8rem;
    max-width: 52%;
    /* text-align: center; */
  }
}

@media (min-width: 1242px) {
  .title1 {
    font-size: 2.8rem;
    max-width: 50%;
    /* text-align: center; */
  }
}

@media (min-width: 1292px) {
  .title1 {
    font-size: 2.8rem;
    max-width: 48%;
    /* text-align: center; */
  }
}

@media (min-width: 1300px) {
  .title1 {
    font-size: 2.8rem;
    max-width: 46%;
    /* text-align: center; */
  }
}

/* card1s layout */
.card1s-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .card1s-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .card1s-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* card1 */
.card1 {
  background: #f8fafc;
  border-radius: 32px;
  padding: 32px;
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.card1:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Text */
.card1 p {
  font-size: 1rem;
  color: #1e293b;
  line-height: 1.5;
  z-index: 2;
  font-weight: 500;
}

/* Image */
.card1-img-wrapper {
  height: 11.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.card1-img-wrapper img {
  max-height: 100%;
  object-fit: contain;
  filter: grayscale(1) contrast(1.2);
  opacity: 0.8;
  transition: 0.4s;
  border-radius: 1.2rem;
}

.card1:hover img {
  opacity: 1;
  transform: scale(1.05);
}

/* ===== Slider wrapper ===== */
.card1s-slider {
  margin-top: 10rem;
  overflow: hidden;
  position: relative;
}

/* ===== Mobile slider mode ===== */
@media (max-width: 550px) {
  /* .card1s-container {
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
    transition: transform 0.4s ease;
  } */

  .card1 {
    /* min-width: 100%; */
    height: 350px;
  }
}
