body {
  margin: 0;
  font-family: 'Space Grotesk', system-ui, sans-serif;
}

header {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  /* border-bottom: 1px solid #e5e5e5; */
  transition: 0.3s;
  /* padding-left: 4.4rem; */
  /* padding-right: 18rem; */
}

header * {
  will-change: transform, opacity;
}

body.dark header {
  background: rgba(15, 15, 15, 0.8);
  /* border-bottom-color: #333; */
}

.container {
  /* max-width: 1440px; */
  margin: 0 auto;
  /* padding: 0 1rem; */

  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  /* font-family: 'Space Grotesk', system-ui, sans-serif; */
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 2px;
  padding-left: 4.4rem;
  text-transform: uppercase;
  color: #151515;
}

body.dark .logo {
  color: #fff;
}

/* Center info */
.center-info {
  display: none;
  gap: 4rem;
  font-size: 1rem;
  color: #414141;
  font-weight: 500;
}

body.dark .center-info {
  color: #bbb;
}

@media (min-width: 768px) {
  .center-info {
    display: flex;
  }
}

/* Buttons */
.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.talk-btn {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  /* display: none; */
  align-items: center;
  padding: 0.6rem 1.5rem;
  background: #000;
  color: #fff;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  /* transition: 0.3s; */
  cursor: pointer;
  margin-right: 4rem;
  /* transform: none; */
}

.talk-btn i {
  margin-right: 8px;
}

body.dark .talk-btn {
  background: #fff;
  color: #000;
}

.talk-btn:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .talk-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .talk-btn {
    display: flex;
  }
}

.menu-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  color: #000;
}

body.dark .menu-btn {
  color: #fff;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

/* Theme Toggle */
.theme-toggle {
  cursor: pointer;
  font-size: 1.2rem;
  color: #000;
}

body.dark .theme-toggle {
  color: #fff;
}

@media (min-width: 768px) {
  .logo {
    font-size: 1rem;
  }

  .center-info {
    /* display: none; */
    gap: 0.5rem;
    font-size: 0.7rem;
    color: #414141;
    font-weight: 500;
  }
}

@media (min-width: 549px) {
  .logo {
    font-size: 1.4rem;
    justify-self: flex-start;
    padding-left: 1.3rem;
  }

  .container {
    width: 100vw;
    margin-right: 0vw;
    padding-right: 0vw;
  }

  header {
    width: 100vw;
    margin-right: 0vw;
    padding-right: 0vw;
  }

  .center-info {
    /* display: none; */
    /* gap: 0.5rem; */
    font-size: 0.7rem;
    color: #414141;
    font-weight: 500;
  }
}

@media (min-width: 300px) {
  .logo {
    font-size: 1.4rem;
    justify-self: flex-start;
    padding-left: 1.3rem;
  }

  .container {
    width: 100vw;
    margin-right: 0vw;
    padding-right: 0vw;
  }

  header {
    width: 100vw;
    margin-right: 0vw;
    padding-right: 0vw;
  }

  .center-info {
    /* display: none; */
    /* gap: 0.5rem; */
    font-size: 0.7rem;
    color: #414141;
    font-weight: 500;
  }
}

@media (min-width: 1080px) {
  .container {
    /* max-width: 1440px; */
    /* margin: 0 auto; */

    /* padding: 0 1rem; */

    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Logo */
  .logo {
    /* font-family: 'Space Grotesk', system-ui, sans-serif; */
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding-left: 3.2rem;
    text-transform: uppercase;
    color: #151515;
  }

  /* Center info */
  .center-info {
    display: none;
    gap: 4rem;
    font-size: 1rem;
    color: #414141;
    font-weight: 500;
  }

  .center-info {
    display: flex;
  }

  /* Buttons */
  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
