/* =========================
   Base
========================= */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

section.hero {
  position: relative;
  overflow: hidden;
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* =========================
   Hero Top Text
========================= */
.hero-top p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  /* font-size: 2rem; */
  color: #151515;
  margin-bottom: 0.5rem;
}

.hero-title,
.hero-title-secondary {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  font-weight: 500;
  /* font-size: 2.5rem; */
  text-transform: uppercase;
  color: #000;
  margin: 0;
  letter-spacing: -1px;
}

/* =========================
   Hero Row
========================= */
.hero-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin-bottom: 2rem; */
}

/* =========================
   Badge
========================= */
.hero-badge {
  /* height: 2.5rem; */
  border-radius: 999px;
  overflow: hidden;
  background: rgba(255, 150, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-badge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.hero-mini-text {
  display: none;
  flex-direction: column;
  font-size: 1rem;
  border-left: 1px solid #ccc;
  padding-left: 0.7rem;
  line-height: 1.2;
  color: #666;
  font-weight: 500;
}

/* =========================
   Big Name
========================= */
.hero-big-name {
  font-family: 'Poppins', sans-serif;
  /* font-size: 18vw; */
  font-weight: 700;
  line-height: 0.8;
  text-align: center;
  /* margin-top: 3rem; */
  color: #000;
  letter-spacing: -0.8px;
}

/* =========================
   Mobile Image
========================= */
.hero-mobile-img {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

/* .mobile-card {
  width: 100%;
  max-width: 360px;
  aspect-ratio: 4 / 5;
  background: #444;
  border-radius: 1rem;
  overflow: hidden;
  transform: rotate(2deg);
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
} */

.mobile-label {
  position: absolute;
  inset: auto 1rem 1rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.8rem;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 0.75rem;
}

.img-orange {
  box-shadow: none;
}

.img-main {
  box-shadow: none;
}

.img-orange img {
  height: 100%;
}

.img-main img {
  height: 100%;
}

/* =========================
   Desktop ≥ 768px
========================= */

@media (max-width: 550px) {
  .hero-mini-text {
    display: none;
    font-size: 0.7rem;
  }
}

@media (min-width: 550px) {
  section.hero {
    padding-top: 4.5rem;
    padding-left: clamp(2rem, 1.2rem + 2.7vw, 4.3rem);
    padding-right: clamp(2rem, 1.4rem + 2.1vw, 4rem);
  }

  .hero-top {
    margin-top: 6.5rem;
  }

  .hero-top p {
    font-size: 1rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2rem;
  }

  .hero-row {
    margin-bottom: 4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: clamp(3.2rem, 1.1rem + 5vw, 7.9rem);
    height: clamp(1.5rem, 0.8rem + 2.2vw, 3rem);
  }

  .hero-big-name {
    font-size: 14.4vw;
    text-align: left;
    margin-top: -1.5rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: -3.2rem;
    right: -4.5rem;
    width: 18rem;
    height: 13rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);

    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);

    overflow: hidden;
  }
}

@media (min-width: 600px) {
  section.hero {
    padding-top: 4.5rem;
    padding-left: clamp(2rem, 1.2rem + 2.7vw, 4.3rem);
    padding-right: clamp(2rem, 1.4rem + 2.1vw, 4rem);
  }

  .hero-top {
    margin-top: 6.5rem;
  }

  .hero-top p {
    font-size: 1rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2rem;
  }

  .hero-row {
    margin-bottom: 4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: clamp(3.2rem, 1.1rem + 5vw, 7.9rem);
    height: clamp(1.5rem, 0.8rem + 2.2vw, 3rem);
  }

  .hero-big-name {
    font-size: 14vw;
    text-align: left;
    margin-top: -1.5rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: -3.2rem;
    right: -4.5rem;
    width: 18rem;
    height: 13rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);

    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);

    overflow: hidden;
  }
}
@media (min-width: 700px) {
  section.hero {
    padding-top: 4.5rem;
    padding-left: clamp(2rem, 1.2rem + 2.7vw, 4.3rem);
    padding-right: clamp(2rem, 1.4rem + 2.1vw, 4rem);
  }

  .hero-top {
    margin-top: 6.5rem;
  }

  .hero-top p {
    font-size: 1.2rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2.3rem;
  }

  .hero-row {
    margin-bottom: 4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.8rem;
  }

  .hero-badge {
    width: clamp(3.2rem, 1.1rem + 5vw, 7.9rem);
    height: clamp(1.5rem, 0.8rem + 2.2vw, 3rem);
  }

  .hero-big-name {
    font-size: 14.2vw;
    text-align: left;
    margin-top: -2rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: -3.5rem;
    right: -4.5rem;
    width: 20rem;
    height: 14rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);

    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);

    overflow: hidden;
  }
}

@media (min-width: 768px) {
  section.hero {
    padding-top: 4.5rem;
    padding-left: clamp(2rem, 1.2rem + 2.7vw, 4.3rem);
    padding-right: clamp(2rem, 1.4rem + 2.1vw, 4rem);
  }

  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 1rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2rem;
  }

  .hero-row {
    margin-bottom: 4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.9rem;
  }

  .hero-badge {
    width: clamp(3.2rem, 1.1rem + 5vw, 7.9rem);
    height: clamp(1.5rem, 0.8rem + 2.2vw, 3rem);
  }

  .hero-big-name {
    font-size: 14.2vw;
    text-align: left;
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: -4.5rem;
    right: -4.5rem;
    width: 23rem;
    height: 16rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);

    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);

    overflow: hidden;
  }
}

@media (min-width: 800px) {
  .hero-top p {
    font-size: 1.15rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2.2rem;
  }

  .hero-row {
    margin-bottom: 2.5rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.9rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -4.5rem;
    right: -4.5rem;
    width: 23rem;
    height: 16rem;
  }

  .hero-big-name {
    font-size: 14.25vw;
    text-align: left;
    margin-top: 0rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 900px) {
  .hero-top p {
    font-size: 1.5rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2.8rem;
  }

  .hero-row {
    margin-bottom: 2rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.5rem;
    right: -4.5rem;
    width: 23rem;
    height: 16rem;
  }

  .hero-big-name {
    font-size: 14.35vw;
    text-align: left;
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 970px) {
  .hero-top {
    margin-top: 7rem;
  }

  .hero-top p {
    font-size: 1.8rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2.9rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.4rem;
    right: -4.5rem;
    width: 23rem;
    height: 16rem;
  }

  .hero-big-name {
    font-size: 14.45vw;
    text-align: left;
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}

/* =========================
   Large Screens ≥ 1024px
========================= */

@media (min-width: 1024px) {
  .hero-top {
    margin-top: 7rem;
  }

  .hero-top p {
    font-size: 2rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 3.4rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 1.1rem;
  }

  .hero-images .circles {
    top: -35%;
    right: 34%;
    position: absolute;
    transform: rotate(-4.02deg);
    width: 350.02px;
    height: 270.91px;
    z-index: -1;
  }

  .hero-big-name {
    font-size: 14.8vw;
    text-align: left;
    margin-top: 3.7rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }

  .hero-images {
    top: -1.8rem;
    right: -4rem;
    width: 27rem;
    height: 19rem;
  }
}

@media (min-width: 1200px) {
  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 2.1rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 4.2rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 1.3rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.8rem;
    right: -4.5rem;
    width: 31rem;
    height: 22.5rem;
  }

  .hero-big-name {
    font-size: 14.8vw;
    text-align: left;
    margin-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}
/* =========================
   Large Screens ≥ 1260px
========================= */
@media (min-width: 1260px) {
  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 2.2rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 4.8rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-big-name {
    font-size: 14.8vw;
    text-align: left;
    margin-top: 0rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }

  .hero-images .circles {
    width: 600px;
    height: 300px;
    right: 4%;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.8rem;
    right: -4.5rem;
    width: 33rem;
    height: 23rem;
  }
}

/* =========================
   Extra Large ≥ 1300px
========================= */
@media (min-width: 1300px) {
  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 2.2rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 4.6rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-big-name {
    font-size: 14.9vw;
    text-align: left;
    margin-top: 0rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }

  .hero-images .circles {
    right: 6%;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.8rem;
    right: -4.5rem;
    width: 33rem;
    height: 23rem;
  }
}

@media (min-width: 1400px) {
  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 2.2rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 5.2rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 1.4rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.8rem;
    right: -4.5rem;
    width: 36rem;
    height: 25rem;
  }

  .hero-big-name {
    font-size: 14.8vw;
    text-align: left;
    margin-top: 2.5rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1550px) {
  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 2.4rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 5.6rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 1.7rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.8rem;
    right: -4.5rem;
    width: 37.5rem;
    height: 27rem;
  }

  .hero-big-name {
    font-size: 14.25vw;
    text-align: left;
    margin-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1648px) {
  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 2.4rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 5.8rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.8rem;
    right: -4.5rem;
    width: 40rem;
    height: 28rem;
  }

  .hero-big-name {
    font-size: 13.76vw;
    text-align: left;
    margin-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1700px) {
  .hero-top {
    margin-top: 7.5rem;
  }

  .hero-top p {
    font-size: 2.4rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 5.8rem;
  }

  .hero-row {
    margin-bottom: 1.4rem;
  }

  .hero-images {
    display: block;
    position: absolute;
    top: -3.8rem;
    right: -4.5rem;
    width: 40rem;
    height: 28rem;
  }

  .hero-big-name {
    font-size: 13.76vw;
    text-align: left;
    margin-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 3.5rem;
  }
}

/* Text reveal mask */
.text-mask {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

/* Animated inner text */
.text-inner {
  display: inline-block;
  will-change: transform;
}

.img-mask {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
