.mobile-contact {
  padding-left: 1.5rem;
  width: 90vw;
  overflow-x: hidden;
  /* height: 100%; */
  /* top: 30vh; */
  padding-top: 10vh;
}

.center-info1 {
  max-width: 90vw;
  line-height: 3.1vh;
  font-size: 1rem;
}

@media (min-width: 550px) {
  .mobile-contact {
    display: none;
  }
  .name-box {
    display: none;
  }
}

@media (max-width: 549px) {
  .hero-big-name {
    /* position: absolute; */
  }
}

@media (max-width: 550px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 16.5vw;
  }

  .center-info1 {
    font-size: 0.85rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 2rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 3.8rem;
  }

  .hero-row {
    margin-bottom: 27rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 15.2rem;
    right: -4.5rem;
    width: 30rem;
    height: 22rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 527px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 16.5vw;
  }

  .center-info1 {
    font-size: 0.85rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 1.5rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 3.5rem;
  }

  .hero-row {
    margin-bottom: 26rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 13.5rem;
    right: -5rem;
    width: 30rem;
    height: 22rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 17vw;
  }

  .center-info1 {
    font-size: 0.8rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 1.3rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 3.45rem;
  }

  .hero-row {
    margin-bottom: 26rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 13rem;
    right: -5.2rem;
    width: 30rem;
    height: 22rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 19vw;
  }

  .center-info1 {
    font-size: 0.75rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 1.3rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 3.2rem;
  }

  .hero-row {
    margin-bottom: 27rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 13rem;
    right: -6.7rem;
    width: 30rem;
    height: 22rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 449px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 21vw;
  }

  .center-info1 {
    font-size: 0.75rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 1rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 3rem;
  }

  .hero-row {
    margin-bottom: 26rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 13rem;
    right: -6rem;
    width: 27rem;
    height: 19rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 422px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 21vw;
  }

  .center-info1 {
    font-size: 0.7rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 0.9rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2.8rem;
  }

  .hero-row {
    margin-bottom: 23rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 12.5rem;
    right: -4rem;
    width: 24rem;
    height: 17rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 399px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 22vw;
  }

  .center-info1 {
    font-size: 0.7rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 0.9rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2.6rem;
  }

  .hero-row {
    margin-bottom: 23rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 10.5rem;
    right: -6rem;
    width: 25rem;
    height: 18rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 373px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 22vw;
  }

  .center-info1 {
    font-size: 0.7rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 0.9rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2.4rem;
  }

  .hero-row {
    margin-bottom: 22rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 10rem;
    right: -4.5rem;
    width: 23rem;
    height: 17rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 350px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 24vw;
  }

  .center-info1 {
    font-size: 0.7rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 0.8rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2rem;
  }

  .hero-row {
    margin-bottom: 22rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 9.5rem;
    right: -5rem;
    width: 21rem;
    height: 16.5rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}

@media (max-width: 300px) {
  body {
    overflow-x: hidden;
  }

  .mobile-contact {
    padding-top: 31vw;
  }

  .center-info1 {
    font-size: 0.7rem;
  }

  section.hero {
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-top {
    margin-top: 2rem;
  }

  .hero-top p {
    font-size: 0.8rem;
  }

  .hero-title,
  .hero-title-secondary {
    font-size: 2rem;
  }

  .hero-row {
    margin-bottom: 22rem;
  }

  .hero-mini-text {
    display: flex;
    font-size: 0.7rem;
  }

  .hero-badge {
    width: 5.2rem;
    height: 3rem;
  }

  .hero-big-name {
    /* background: #fff; */
    width: 100vw;
    z-index: 5;
    font-size: 15.5vw;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }

  .hero-mobile-img {
    display: none;
  }

  /* Images */
  .hero-images {
    display: block;
    position: absolute;
    top: 9.5rem;
    right: -5rem;
    width: 21rem;
    height: 16.5rem;
  }

  .hero-images .circles {
    position: absolute;
    top: -35%;
    right: clamp(26%, 20% + 2vw, 34%);
    width: 382px;
    height: 205px;
    transform: rotate(-4deg);
    z-index: -1;
  }

  .img-orange {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: rotate(-14.86deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .img-main {
    position: absolute;
    left: 21%;
    width: 50%;
    height: 100%;
    transform: rotate(9.54deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
}
