/* Section Header */
.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.section-label {
  font-size: 1rem;
  font-weight: 600;
  color: #6366f1;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0f172a;
}

/* Portfolio Layout */
.portfolio-section {
  padding-left: 3.4rem;
  padding-right: 3.2rem;
  margin: auto;
  padding-top: 5rem;
  position: relative;
  z-index: 10;
}

.portfolio-container {
  max-width: 1400px;
  margin: auto;
  /* padding: 0 1rem; */
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

/* Individual Card */
.portfolio-item {
  cursor: pointer;
}

.portfolio-image-box {
  position: relative;
  aspect-ratio: 4 / 3;
  border-radius: 1.5rem;
  overflow: hidden;
  background: #f1f5f9;
  margin-bottom: 1.5rem;
}

.portfolio-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

/* Tags */
.badge2 {
  background: #ffffff;
  padding: 0.35rem 0.75rem;
  border-radius: 1rem;
  border: 1px solid #e2e8f0;
  font-size: 0.8rem;
  font-weight: 600;
  color: #0f172a;
}

.tag-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  gap: 0.5rem;
}

/* Content */
.portfolio-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.item-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0f172a;
}

.item-category {
  color: #64748b;
  font-weight: 500;
}

/* Arrow Button */
.arrow-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  border: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.portfolio-item:hover .arrow-btn {
  background: #000;
  color: #fff;
  border-color: #000;
}

.arrow-icon {
  width: 1.2rem;
  height: 1.2rem;
}
