html,
body {
  position: relative;
  height: 100%;
}

:root {
  --swiper-theme-color: #ff4d4d;
}
:root {
  --swiper-pagination-bullet-inactive-color: #b7b7b7;
}

/* body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 92vw;
  height: 80vh;
}

.swiper-slide {
  width: 18rem !important;
  margin-right: 1rem !important;
  /* height: 90%; */
  /* text-align: center; */
  font-size: 18px;
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.swiper-pagination {
  visibility: hidden;
  /* bottom: -0.4rem !important; */
}

