.testimonials-section {
  width: 100%;
  overflow: hidden;
  padding: 6rem 0;
  background: linear-gradient(to right, transparent, #f9fafb, transparent);
  position: relative;
}

.blur-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  pointer-events: none;
  z-index: 0;
}

.marquee-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}


.marquee-track {
  display: flex;
  align-items: center;
  gap: 3rem;
  white-space: nowrap;
  width: max-content; /* VERY IMPORTANT */
  /* animation: marquee 18s linear infinite; */
  will-change: transform;
}

.marquee-track:hover {
  animation-play-state: paused;
}

.testimonial-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  transition: opacity 0.3s;
}

.testimonial-item:hover {
  opacity: 1;
}

.testimonial-avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 25%;
  object-fit: cover;
  /* border: 2px solid #fff; */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
}

.testimonial-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #334155;
  letter-spacing: -0.5px;
}

.fade {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  pointer-events: none;
  z-index: 20;
}

.fade-left {
  left: 0;
  background: linear-gradient(to right, #f9fafb, transparent);
}

.fade-right {
  right: 0;
  background: linear-gradient(to left, #f9fafb, transparent);
}

/* Animation */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
